// 颜色定义规范
$color-background:#fff;
$color-theme:#28d19d;
$color-common:#333;
$color-light:#666;
$color-b-light:#999;
$color-cover:#fff;

//字体定义规范
$font-ss:10px;
$font-s:12px;
$font-m:14px;
$font-b:16px;
